body {
    margin: 0;
    padding: 0;
    /*background: rgb(255, 240, 150);
    */
}
.submitbutton {
    border: none;
    padding: 10px 20px;
    background: rgb(70,70,150);
    border-radius: 2vh;
    transition: 0.7s;
}
.submitbutton:hover {
    background: rgb(90, 90, 180);
}
.topline {
    margin: 0;
    padding: 0;
    background-color: rgb(20,20,100);
    height: 10vh;
    width: 100vw;
    position: fixed;
    border-bottom-style: solid;
}
#common {
    position: absolute;
    top: 10vh;
}
.buttons {
    border: none;
    height: 8vh;
    width: 10vw;
    transform: translate(0, 2vh);
    margin-left: 1vh;
    background: rgb(70,70,150);
    font-size: large;
    font-weight: bold;
    border-top-left-radius: 0.7vh;
    border-top-right-radius: 0.7vh;
    transition: 0.7s;
}
.buttons:focus {
    outline: none;
}
.buttons:hover {
    background: rgb(90, 90, 180);
}
.shapebuttons {
    border: none;
    height: 20vh;
    width: 35vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2vh;
    border-radius: 1vh;
    background: rgb(70,70,150);
    font-size: x-large;
    transition: 0.7s;
}
.shapebuttons:hover {
    background: rgb(90, 90, 180);
}
#logoid {
    border: none;
    height: 8vh;
    transform: translate(0, 2vh);
    margin-left: 1vh;
    background: rgb(70,70,150);
    border-top-left-radius: 0.7vh;
    border-top-right-radius: 0.7vh;
    transition: 0.7s;
    float: left;
}
#logoid:focus {
    outline: none;
}
#logoid:hover {
    background: rgb(90, 90, 180);
}
.mathdiv {
}